<div class="card">
  <div class="card-block">
    <div class="col-md-1">
      <%= gravatar_for message.user %>
    </div>
    <div class="col-md-11">
      <span class="text-muted"><%= message.user.name %> at <%= message.timestamp %> says</span>
      <p class="card-text">
        <%= message.body %>
      </p>
      </div>
  </div>
</div>
<br>