.card
  .card-block
    .container
      .row
        .col-md-1{style: 'padding-top: 5px'}
          = image_tag "user.png", size: '50x50'
        .col-md-11
          %p.actors.text-muted
            %b= message.user.name.capitalize
            %span.text-muted{style: "float: right"}
              = time_ago_in_words(message.timestamp)
          %hr.divider
          %p.card-text{style: 'margin-bottom: 15px'}
            = message.body