.card
  .card-block
    .container
      .row
        .col-md-1{style: 'padding-top: 5px'}
          = gravatar_for message.user
        .col-md-11
          %span.text-muted
            = message.user.name
          %br
          %span.text-muted
            = message.timestamp
          %hr
          %p.card-text{style: 'margin-bottom: 15px'}
            = message.body
%br/
