= simple_form_for @chat_room do |f|
  = f.input :title, autofocus: true, class: 'form-control'
  %br
  = f.input :description, autofocus: true, class: 'form-control', input_html: {rows: "5"}
  %br
  = f.button :submit, class: 'btn btn-info'
  %hr