= simple_form_for @chat_room do |f|
  = f.input :title, autofocus: true, class: 'form-control'
  = f.input :description, autofocus: true, class: 'form-control'
  = f.button :submit, class: 'btn btn-info'