- if current_user.is_admin? or @chat_room.user.id == current_user.id
  .row.justify-content-center
    .col-md-4.col-xs-12
      .card
        %h4.card-header
          %i.fa.fa-plus-square{"aria-hidden" => "true"}
          Edit Chat Room
        .card-body
          = render 'form', comment: @chat_room
          %br
          = link_to chat_rooms_path, class: 'card-link btn btn-secondary' do
            %i.fa.fa-chevron-left{"aria-hidden" => "true"} 
            Back
- else
  .alert.alert-success{role: 'alert'}
    Thanks for trying to test our security!