.row.justify-content-center
  .col-md-8.col-xs-12
    .card
      %h4.card-header
        %i.fa.fa-plus-square{"aria-hidden" => "true"}
        Create Chat Room
      .card-body
        = render 'form', comment: @chat_room
        = link_to chat_rooms_path, class: 'card-link btn btn-secondary' do
          %i.fa.fa-chevron-left{"aria-hidden" => "true"} 
          Back
