a
{
  text-decoration: none;
  color: #17a2b8;
}
.navbar
{
  margin-bottom: 25px;
}
.navbar-dark .navbar-nav .nav-link
{
  color: white;
}
.card-title
{
  color: #777777;
}
.card-text
{
  color: #777777; 
}
h1
{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

footer {
  margin-top: 50px;
}

.card-body
{
  & > a
  {
    text-decoration: none;
    color: white;
  }
}

#login-submit:hover
{
  color: #555555;
}

.jumbotron
{
  background-image: url("bac-login.jpg");
  background-color: #17234E;
  margin-bottom: 0;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}