a
{
  text-decoration: none;
  color: #17a2b8;
}
.navbar
{
  margin-bottom: 25px;
}
.navbar-dark .navbar-nav .nav-link
{
  color: white;
}
.card-title
{
  color: #777777;
}
.card-text
{
  color: #777777;
}

.chat-room-title{
  background-color: #17a2b8;
  color: #ffffff;
}
h1
{
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

footer {
  margin-top: 50px;
}

.card-body
{
  & > a
  {
    text-decoration: none;
    color: white;
  }
}

#login-submit:hover
{
  color: #555555;
}

.jumbotron
{
  background-image: url("bac-login.jpg");
  background-color: #17234E;
  margin-bottom: 0;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.card
{
  margin-bottom: 15px;
}

.card-body-login{
  padding-bottom: 0px;
  .devise-action{
    margin-top: 50px;
    margin-bottom: 15px;
    float: right;
  }
}

.card-body-signup{
  padding-bottom: 0px;
  .devise-action{
    margin-top: 12px;
    margin-bottom: 15px;
    float: right;
  }
}

#error_explanation{
  h2{
    font-size: 1rem;
  }
  li{
    font-size: 0.7rem;
  }
}

.actors{
  margin-top: 10px;
  margin-bottom: 5px;
}

.divider{
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-link + .card-link {
  margin-left: 0.5rem;
}

.scrollbar
{
	height: 280px;
	overflow-y: scroll;
}

#messages {
  max-height: 281px;
  .avatar {
    margin: 0.5rem;
  }
}

#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(192, 192, 192)),
									   color-stop(0.72, rgb(122, 122, 122)),
									   color-stop(0.86, rgb(110, 110, 110)));
}

#message-body{
  background-color: #f5f5f5;
}

#room-description{
  @media #{$tablet-up} {
    min-height: 312px;
    overflow-y: auto;
  }
}

.card-body {
  padding-top: 10px;
}