$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

$screen-xs-max:             ($screen-sm-min - 1) !default;
$screen-sm-max:             ($screen-md-min - 1) !default;
$screen-md-max:             ($screen-lg-min - 1) !default;

$phone:                     "(min-width: 320px) and (max-width: #{$screen-xs-max})";
$tablet-down:               "(max-width: #{$screen-sm-max})";
$tablet:                    "(min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$tablet-up:                 "(min-width: #{$screen-sm-min})";
$desktop:                   "(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$desktop-up:                "(min-width: #{$screen-md-min})";
$desktop-down:              "(max-width: #{$screen-sm-max})";
$lg-up:                     "(min-width: #{$screen-lg-min})";

$black-bg:                  rgba(0,0,0,.2);
$black-bg-1:                rgba(0,0,0,.4);
$orange-bg:                 rgba(222, 105, 58, .5);

$main-color:                #8fca34;
$dark-grey:                 #6b6c6d;
$light-black:               #363636;
$pink:                      #CE2D76;
